<% include ../partials/header %>

<div class="container">
<div class="row">
        <div class="col-md-4">
                <h1><%= user.firstName + " " + user.lastName %></h1>
            <div class="card">
                <img src="<%= user.avatar %>" alt="user profile image" width="30%" height="auto">
                <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            </div>
            
        </div>
        <div class="col-md-8">
            <h3><%= user.username %>'s movie:</h3>
            <ul>
            <% moviepage.forEach(function(movie) { %>
                <li><a href="/moviepage/<%= movie.id %>"><%= movie.name %></a></li>
            <% }); %>
            </ul>
        </div>
    </div>
</div>

<% include ../partials/footer %>